.second {
    display: flex;
    flex-wrap: nowrap;
    background: #232f3e;
    padding-left: 11px;
    max-height: 39px;
    width: 100%;
    line-height: 1em;
    box-sizing: border-box;
    font-size: 12px;
}

.second .all {
    padding: 8px 9px;
    width: auto;
    height: auto;
    font-size: 25px;
    display: flex;
    line-height: 12px;
    font-weight: 500;
}

.second .all .all-icon {
    width: 17px;
    height: 14px;
    align-self: center;
    background-position: -172px -255px;
    display: flex;
    background-image: url("https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-2x-reorg-privacy._CB546381437_.png");
    background-size: 350px;
}

.all span {
    padding-left: 5px;
    font-size: 14px;
    align-self: center;
    font-family: 'bold';
}

.second .sub {
    display: flex;
    justify-items: center;
    flex: 1 1 auto;
    width: auto;
    align-items: flex-end;
    overflow: hidden;
    flex-wrap: wrap;
    max-height: 39px;
    white-space: nowrap;
    position: relative;
}

.sub button {
    display: inline-flex;
    margin-top: 18px;
    padding: 0;
    border-style: solid;
    border-width: 4px;
        border-color: transparent;
    border-top: 4px solid #a7acb2;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 0 2px 0;
    vertical-align: middle;
    background-color:rgba(0, 0, 0, 0);
    transform: translateX(-3px);

}
.sub .drop-div{
    padding-right: 2px;
} 

.sub div {
    padding: 0 5px;
    height: 100%;
}

.sub div select,
.sub div span {
    margin: 5px 0 6px 0;
    padding: 8px 5px;
    justify-self: center;
    display: inline-block;
    font-size: 14px;
    line-height: 12px;
    align-self: center;
}

.sub div select {
    background: none;
    border: none;
    color: white;
}