.body {
    padding: 0 4px;
    height: 100%;
    box-sizing: border-box;
    width: calc(.8 * (100vw - 28px));
    display: block;
    min-width: 747px;
    max-width: 1347px;
}

.results {
    grid-auto-flow: dense;
    grid-template-columns: repeat(16, 1fr);
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    margin: 0 -4px 0 -4px;
    width: auto;
    align-content: flex-start;
}

.heading {
    grid-column: 1/16;
    padding: 0 4px;
    margin-bottom: 6.5px;
}

.heading h2 {
    margin: 0;
    font-size: 20px;
    line-height: 28px;

    /* letter-spacing: 1.4px; */
    font-weight: normal;
}

.heading p {
    color: #565959;
}

.product * {
    box-sizing: border-box;
}

.product {
    grid-column: auto / span 4;
    width: auto;
    min-width: 0;
    float: none;
    max-width: 359.2px;
    height: 100%;
    display: block;
}

.product .each {
    margin-bottom: 8px;
    height: calc(100% - 8px);
    box-sizing: border-box;
    padding: 0 4px;

}

.each .each-one {
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
}

.product .image {
    margin-bottom: 8px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* width: auto; */
    position: relative;
    overflow: hidden;

    border: none;
    font-size: 14px;
    line-height: 20px;

}

.product .span-image::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .03;

}

.image .image1 {

    padding-top: 100%;
    position: relative;

    overflow: hidden;

}

.product .image img {

    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;

    margin: auto;
    vertical-align: top;
    border: 0;
    background: rgb(245, 245, 245);
    /* border-radius: 15px; */
    background-color: rgb(245, 245, 245);
    overflow-clip-margin: content-box;
    overflow: clip;
    text-align: center;


}

.product .details {
    padding: 0 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.details .name {
    margin-top: 8px;
    max-height: 172.8px !important;
    font-weight: 400;
    box-sizing: border-box;
    overflow: hidden !important;
    font-size: 16px;
    line-height: 24px;
    /* letter-spacing: .03px; */
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


.details .rating {
    padding-top: 4.5px;
}

.rating .stars {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    line-height: 16px;

}

.rating .star-4 {
    background-image: url(assets/icons.png);
    background-position: -210px -468px;
    background-size: 512px;
    background-repeat: no-repeat;
    height: 18px;
    width: 80px;
    align-self: flex-end;
    /* vertical-align: text-top; */
}

.rating .down-arrow {
    background-image: url(assets/icons.png);
    background-size: 512px;
    background-position: -429px -357px;
    height: 16px;
    width: 16px;
    /* align-self: center; */
}

.rating .stars p {
    color: #2162a1;
    font-size: 14px !important;
    line-height: 20px !important;
    box-sizing: border-box;
    padding-left: 3px;
    align-self: flex-start;
    /* padding-bottom: 2px; */
    /* transform: translateY(-1px); */

}

.rating .brag {
    color: #565959;
    font-size: 14px !important;
    line-height: 20px !important;
    box-sizing: border-box;
    width: 100%;
}

.details .price {
    margin-top: 8px;
    width: 100%;
}

.price .price-flex {
    display: flex;
    flex-wrap: wrap;
}

.price-flex .price-i {
    align-self: center;
    margin-top: -8.5px;
    margin-left: 0;
    font-size: 13px;
    margin-bottom: 0;
}

.price-flex h2 {
    font-size: 28px;
    font-family: 'regular';
}

.details p {
    color: #565959;
    font-size: 14px !important;
    line-height: 20px !important;
    align-self: flex-end;
}

.price-flex p {
    margin-left: 3.5px;
    margin-bottom: 2.5px;

}

.price-flex .cross {
    text-decoration: line-through;
    /* letter-spacing: -.35px; */
    font-size: 13px !important;

}

.price-flex span {
    align-self: flex-end;
    margin-left: 9.5px;
    margin-bottom: 4px;
    white-space: normal;
    word-break: break-word;
    display: inline-block;
    max-width: 100%;

}

.price .up {
    line-height: 18.2px !important;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5.5px;
}

.details .prime {
    padding-top: 7px;
    vertical-align: middle;
}

.prime .prime-icon {
    background-image: url(https://m.media-amazon.com/images/S/sash/IAiggOMz$2G$3oR.png);
    width: 53px;
    height: 15px;
    background-position: -181px -128px;
    /* vertical-align: baseline; */
    margin-bottom: -1.75px;
    background-size: 512px;
    background-repeat: no-repeat;
    display: inline-block;
}

/* .prime .del-class {
    margin-top: 1px;
} */

.prime p span {
    color: black !important;
}

.prime .big {
    font-family: 'bold' !important;

}

.details .more {
    padding-top: 4px;
    width: 100%;
}

.details .add {
    padding-top: 4px;
    /* width: 90px; */
    height: 40px;
    margin-bottom: 12px;

}

.add button {
    margin-top: 4px;
    /* width: 100%;
    height: 100%; */
    font-size: 13px;
    padding: 1px 13px 1px 13px;
    border-radius: 36px;
    /* padding: 0 12px 0 12px; */
    background-color: rgb(255, 216, 20);
    border: none;
    line-height: 30px;
    cursor: pointer;
    /* font-family: 'button'; */
}

.more-buy {}

/* ------------------------------------------------------------ */






.prev-next {
    margin-top: 8px;
    padding: 0 4px;
    grid-column: 1/-1;
    box-sizing: border-box;
}

.prev-next .inner {
    margin-bottom: 16px;
    height: calc(100% - 16px);
    box-sizing: border-box;
    text-align: center;

}

.inner .box {
    display: inline-block;
    white-space: nowrap;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
    /* background-color: #2162a1; */
    /* border-left: 1px solid #d5d9d9;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top: 1px solid #d5d9d9;
    border-bottom: 1px solid #d5d9d9; */
    text-align: center;
}

.inner ul {
    display: block;
    /* margin: 0 0 0 18px; */


}

.i {
    display: inline-block;

    line-height: 46px;
    padding: 0 12px;
    /* border-top: 1px solid #d5d9d9;
    border-bottom: 1px solid #d5d9d9; */

    height: 46px;
    position: relative;

    box-sizing: content-box;
}

.box .span1 {
    color: #6f7373;
    border-left: 1px solid #d5d9d9;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    min-width: 70px;
    padding: 0 10px;
    /* line-height: 46px;
    padding: 0 12px; */
    /* border-top: 1px solid #d5d9d9; */
    /* border-bottom: 1px solid #d5d9d9; */
    height: 46px;
    /* position: relative;
    box-sizing: content-box; */

}

.box li {
    color: #0f1111;
    /* border: 1px solid #0f1111;
    font-weight: 700; */
    /* padding: 0 11px; */
    /* align-self: center; */
    display: inline-block;
    /* margin: 0 10px 0 0; */
    white-space: nowrap;

}

.box li .spa {

    min-width: 24px;
    height: 46px;
    position: relative;
    box-sizing: content-box;
    color: #6f7373;
    color: #0f1111;
    /* font-weight: 700; */
    line-height: 46px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

}

.ellipse {
    color: #6f7373;
    min-width: 10px;
    display: inline-block;
    line-height: 46px;
    padding: 0 9px;
    /* border-top: 1px solid #d5d9d9;
    border-bottom: 1px solid #d5d9d9; */
    height: 46px;
    position: relative;
    box-sizing: content-box;
}

.svg-ellipse {
    margin-top: 22px;
    fill: #6f7373;
}

.span2 {
    color: #6f7373;

    display: inline-block;

    line-height: 46px;
    padding: 0 10px;
    /* border-top: 1px solid #d5d9d9; */
    /* border-bottom: 1px solid #d5d9d9; */
    min-width: 24px;
    height: 46px;
    position: relative;

    box-sizing: content-box;

}




.next-wrap span {
    padding: 0 12px 0 9px;
    min-width: 69px;
    /* border-right: 1px solid #d5d9d9;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; */
}

/* ---------------------------------------------------------------------- */


.help {
    /* padding: 0 4px; */
    grid-column: 1/-1;
    margin: 16px 0 18px;
    height: calc(100% - 16px);
    box-sizing: border-box;
}

.help-wrap {
    margin: 0 -8px 0 -4px;
    width: auto;
    padding: 0;
    min-width: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: visible;
    align-items: stretch;
}

.width-c {
    display: block;
    width: calc(.5 * (100vw - 28px));
    min-width: 498px;
    height: 100%;
    padding: 0 4px;
    max-width: 898px;
}

/* ----------------------------------------------------------------------- */

.ad {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    position: relative;
    box-sizing: border-box;
    grid-template-areas: "image buy-box";
}

.ad .image {
    grid-area: image;
    width: 100%;
    height: 100%;
}

.ad .image img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    box-sizing: border-box;
    padding: 2px;
    transform: scale(0.78);
    position: relative;
}

.ad .buybox {
    grid-area: buy-box;
    width: 100%;
    height: 100%;
}

.ad p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
    /* width: 200%; */
}

.ad span {
    background-color: rgb(204, 12, 57);
    line-height: 16px;
    font-weight: 700;
    height: 20px;
    padding: 0 6px;
    color: white;
    border-radius: 2px;

}

/* ---------------------------------- */
.rec-wrap {
    min-width: 960px;
    display: block;
    margin: 20px 0 50px;
}

.recommend {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 20px;
    box-sizing: border-box;
}

.recommend p {
    font-size: 20px;
    text-align: left;
    color: #444;
    font-weight: 400;
    padding: 10.5px 10px 12px 10px;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translateY(-3px);
}

.recommend .rec {
    padding: 0 10px 29px;
    line-height: 75px;
    overflow: hidden;
    height: 75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;



}

.rec span {
    /* float: left; */
    font-size: 13px;
    /* font-style: italic; */
    box-sizing: border-box;
    align-self: center;
    font-family: 'italics';
    /* letter-spacing: -.1px; */
}

.rec .right-box {
    /* float: right; */
    margin-top: 3px;
    padding-left: 40px;
    padding-right: 10px;
    box-sizing: border-box;
    color: #0066c0;

}

.right-box .arrow-i {
    font-size: 11px;
    margin-top: -1px;
    padding-right: 8px;
    display: inline-block;
    font-weight: 700;
    line-height: 11px;
    vertical-align: top;
    box-sizing: border-box;


}

.right-box .view {
    width: 80px;
    font-size: 10px;
    display: inline-block;
    /* font-weight: 700; */
    line-height: 11px;
    vertical-align: top;
    /* box-sizing: border-box; */
}

.view a {
    text-decoration: none;
    font-family: 'bold';
    color: #2162a1;


}


/* ---------------------------------------------------------------------- */